Здравствуйте!

На сайте <!--%site_name%--> была заполнена форма прикрепления к поликлинике.
Ниже приведены все данные.

<hr>
ФИО: <!--%Surname%--> <!--%Name%--> <!--%Patron%-->
Дата рождения: <!--%Birthday%-->
Пол: <!--%Sex%-->
Гражданство: <!--%Country%-->
Номер полиса ОМС: <!--%Polis%-->
Наименование страховой компании Московской области: <!--%CompanyName%-->
Дата выдачи полиса: <!--%PolisStartDate%-->
Срок действия полиса: <!--%PolisType%--> <!--%PolisFinishDate%-->
Вид документа: <!--%DocumentType%-->
№ документа: <!--%Pasport%-->
Дата выдачи: <!--%DocumentDate%-->
Кем выдан: <!--%DocumentBy%-->
Код подразделения: <!--%PasportCode%-->
СНИЛС: <!--%Snils%-->
Адрес регистрации: <!--%Address%-->
Адрес проживания в г. Дубна Московской области: <!--%LivingAddress%-->
Номер телефона пациента: <!--%Phone%-->
Адрес электронной почты: <!--%Email%-->

<hr>
Всего хорошего!
(Это письмо сгенерировано роботом)