  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <br><table width="100%" border="0" cellpadding="4" cellspacing="0" style="text-align: center;">
  <tr>
    <td class="lefttitlecell"><b>Ошибка в данных</b></td>
  </tr>
  <tr>
    <td><b class="wrong_answer"><!--%message%--></b></td>
  </tr>
  <tr>
    <td height="100">Ваши данные не были отправлены<br>
      <br>Пожалуйста, <a href="javascript:history.back(1);">вернитесь</a> и заполните все необходимые поля.</td>
  </tr>
</table>
      </div>
    </div>
  </div>