<nav class="appointment-actions">
	<a class="appointment-actions__btn appointment-actions__btn_fmba btn" href="https://reg.fmba.gov.ru/" target="_blank">Записаться через ведомственный портал медицинских услуг ФМБА России</a>
	<a class="appointment-actions__btn appointment-actions__btn_gosu btn" href="https://www.gosuslugi.ru/600204/1/form" target="_blank">Записаться через портал государственных услуг</a>
	<a class="appointment-actions__btn appointment-actions__btn_oiai btn" href="https://msch-9.ru/reg/spec.html?terr=1" target="_blank">Профпатология ОИЯИ</a>
</nav>