<div class="banners-slider">
	<div class="banners-slider__body _swiper">
		<!--%loop banners%-->
		<div class="banners-slider__item">
			<div class="banners-slider__img">
				<img src="<!--%img%-->" alt="<!--%header%-->">
			</div>
		</div>
		<!--%end loop banners%-->
	</div>
	<div class="banners-slider__arrows banners-slider-arrows">
		<div class="banners-slider-arrows__arrow banners-slider-arrows__arrow_prev"><span class="_icon-arrow-left"></span></div>
		<div class="banners-slider-arrows__arrow banners-slider-arrows__arrow_next"><span class="_icon-arrow-right"></span></div>
	</div>
</div>