<nav class="cabinet-menu">
	<ul class="cabinet-menu__body">
		<li class="cabinet-menu__items"><a class="cabinet-menu__link btn <!--%active%-->" href="<!--%dir_prefix%-->?action=cabinet">Главная</a></li>
		<li class="cabinet-menu__items"><a class="cabinet-menu__link btn <!--%activeedit%-->" href="<!--%dir_prefix%-->?action=cabinet&actionSub=edit">Профиль</a></li>
		<li class="cabinet-menu__items"><a class="cabinet-menu__link btn <!--%activeorders%-->" href="<!--%dir_prefix%-->?action=cabinet&actionSub=orders">Заказы</a></li>
	</ul>
</nav>