<div class="doctor-header">
	<div class="doctor-header-info">
		<div class="doctor-header-info__all">
			В нашей команде:<br>
			<!--%teamInfo%-->
		</div>
		<div class="doctor-header-info__filter">
			<div class="doctor-header-info__filter-categories">
				Поиск по специальности:
				<select class="search__input" name="category" id="category-picker" data-choice data-search data-required data-placeholder="Поиск">
					<option value="Все специальности" selected>Все специальности</option>
					<!--%loop categories%-->
					<option value="<!--%Name%-->"><!--%Name%--></option>
					<!--%end loop categories%-->
				</select>
				
			</div>
			<div class="doctor-header-info__filter-lastname">
				Поиск по фамилии:
				<div class="menu-line__search-form">
					<input class="doctor-header__search-input search__input input" id="surname-search" type="text" name="s" placeholder="Введите фамилию врача">
				</div>
			</div>
		</div>
	</div>
	<div class="doctor-header-img">
		<img src="../../images/img/doctors.png" alt="">
	</div>
</div>

<!--%if items%-->
<!--%loop items%-->
<div class="doctor _active" data-category="<!--%category%-->" data-surname="<!--%surname%-->" id="<!--%id%-->">
	<div class="doctor-wrap">
		<a href="<!--%href%-->" class="doctor-photo">
			<img src="<!--%img%-->" alt="<!--%name%-->">
		</a>
		<div class="doctor-info">
			<div class="doctor-info__category"><!--%category%--></div>
			<a href="<!--%href%-->" class="doctor-info__name"><!--%name%--></a>
			<div class="doctor-info__specialty"><!--%specialty%--></div>

			<!--%if experience%-->
			<div class="doctor-info__experience">Стаж: <span><!--%experience%--></span></div>
			<!--%end if experience%-->

			<!--%if regalia%-->
			<div class="doctor-info__regalia">
				<img src="../../images/img/icons/regalia.png" alt="" class="doctor-info__regalia-img">
				<div class="doctor-info__regalia-list">
					<!--%regalia%-->
				</div>
			</div>
			<!--%end if regalia%-->

			<div class="doctor-info__descr">
				<!--%smallDesc%-->
			</div>
		</div>
		<div class="doctor-appointment">
			<a href="<!--%dir_prefix%-->appointment/" class="header-bottom__btn btn btn_big">Запись на приём</a>
		</div>
	</div>
</div>
<!--%end loop items%-->
<!--%end if items%-->

<script>
	const categoryPicker = document.querySelector('#category-picker');
	const surnameSearch = document.querySelector('#surname-search');
	const doctors = document.querySelectorAll('.doctor');

	function showDoctor(doctor) {
		if (!doctor.classList.contains('_active')) {
			doctor.classList.add('_active');
		}
	}
	function hideDoctor(doctor) {
		doctor.classList.remove('_active');
	}

	function switcher(category, surname) {
		if (category === 'Все специальности' && surname === '') {
			doctors.forEach(doctor => showDoctor(doctor));
			
		} else {
			doctors.forEach(doctor => {
				hideDoctor(doctor);

				if (category === 'Все специальности' && surname !== '') {
					if ((doctor.dataset.surname).includes(surname)) {
					showDoctor(doctor);
					}
				} else if (category !== 'Все специальности' && surname === '') {
					if(doctor.dataset.category === categoryPicker.value) {
					showDoctor(doctor);
					}
				} else {
					if(doctor.dataset.category === categoryPicker.value && (doctor.dataset.surname).includes(surname)) {
					showDoctor(doctor);
					}
				}
			});
		}
	}

	categoryPicker.addEventListener('change', function() {
		switcher(categoryPicker.value, surnameSearch.value);
	});


	surnameSearch.addEventListener('input', function() {
		switcher(categoryPicker.value, surnameSearch.value);
	})

	function doForm(e) {
		e.preventDefault();
	}
</script>