<div class="person">
	<div class="person-img">
		<img src="<!--%bigImage%-->" alt="<!--%Name%-->">
	</div>
	<div class="person-info">
		<div class="doctor-info__category"><!--%categoryName%--></div>
		<div class="doctor-info__name"><!--%Name%--></div>
		<div class="doctor-info__specialty"><!--%Specialty%--></div>

		<!--%if Experience%-->
		<div class="doctor-info__experience">Стаж: <span><!--%Experience%--></span></div>
		<!--%end if Experience%-->

		<div class="person-info__description"><!--%Description%--></div>
	</div>
</div>
