<div class="employee">
	<div class="employee__photo">
		<img src="<!--%dir_prefix%--><!--%smallURL%-->" alt="">
	</div>
	<div class="employee__info">
		<div class="employee__name"><!--%Name%--></div>
		<div class="employee__activity"><!--%description%--></div>
		<div class="employee__label">
			“Медсанчасть была создана для оказания медико-санитарной помощи сотрудникам Объединённого института ядерных исследований.”
		</div>
		<div class="employee__contacts">
			<div class="employee__phone-label">Телефон отделения:</div>
			<a class="employee__phone" href="tel:<!--%phoneFormat%-->"><!--%phone%--></a>
		</div>
		<div class="employee__bottom">
			<a class="employee__btn btn btn_big" href="<!--%dir_prefix%-->appointment">Запись на приём</a>
		</div>
	</div>
</div>