<div class="main-about">
	<div class="main-about__container _container">
		<h2 class="main-about__title">О компании</h2>
		<div class="main-about__body">
			<div class="main-about__column">
				<div class="main-about__desc">Компания Акватория — эксклюзивный дистрибьютор продукции CD Rods и Hearty Rise на территории России и стран бывшего СНГ.</div>
				<a class="main-about__btn btn" href="<!--%dir_prefix%-->about/">Узнать больше <span class="_icon-arrow"></span></a>
			</div>
			<div class="main-about__column">
				<div class="main-about__advantages">
					<!--%loop images%-->
					<div class="main-about__advantage main-about-advantage">
						<div class="main-about-advantage__img">
							<img src="<!--%img%-->" alt="<!--%name%-->">
						</div>
						<div class="main-about-advantage__title"><!--%name%--></div>
					</div>
					<!--%end loop images%-->
				</div>
			</div>
		</div>
	</div>
</div>