<div class="main-brands">
	<div class="main-brands__body _swiper">
		<!--%loop brands%-->
		<div class="main-brands__item main-brands-item">
			<a class="main-brands-item__image" href="<!--%href%-->">
				<img src="<!--%img%-->" alt="<!--%name%-->">
			</a>
		</div>
		<!--%end loop brands%-->
	</div>
	<div class="main-brands__arrows main-brands-arrows">
		<div class="main-brands-arrows__arrow main-brands-arrows__arrow_prev"><span class="_icon-arrow-left"></span></div>
		<div class="main-brands-arrows__arrow main-brands-arrows__arrow_next"><span class="_icon-arrow-right"></span></div>
	</div>
</div>