<button class="<!--%arrow_class%--> <!--%arrow_class%--><!--%level%--> _icon-arrow-menu" type="button"></button>
<ul class="menu__sub-list menu__sub-list<!--%level%--> <!--%active%-->">
	<li class="menu__sub-item menu__sub-item_back"><button class="menu__back btn btn_green _icon-arrow" type="button">назад</button></li>
	<!--%loop menu%-->
	<li class="menu__sub-item <!--%active%-->">
		<a class="menu__sub-link <!--%active%-->" href="<!--%href%-->"><!--%name%--></a>
		<!--%submenu%-->
	</li>
	<!--%end loop menu%-->
</ul>